<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<main>
    <h1>Review</h1>

    <p th:text="${review}"></p>

    <form th:action="@{/review-form}" th:method="POST" th:object="${reviewModel}" enctype="multipart/form-data">

        <label>
            <p>Review Title</p>
            <input type="text" th:field="*{reviewTitle}"/>
        </label>

        <br>
        <br>
        <div class="mb-3">
            <input th:field="*{file}" class="" id="file" name="file" type="file">
        </div>
        <br>

        <input type="submit" value="save"/>

    </form>
</main>
</body>
</html>